/* 
font-family: 'Saira', sans-serif;
font-family: 'Saira Condensed', sans-serif; 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    background-color: #29a6dc;
    height: 100vh;
    overflow: hidden;
}

header>* {
    position: absolute;
}

header img {
    height: 50%;
    bottom: 0;
    right: 0;
}

header div.witaj {
    top: 7%;
    left: 5%;
    right: 5%;
    color: white;
    text-align: center;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
}


header h1 {
    margin-top: 15px;
    font-size: 20px;
}

header h2 {
    font-size: 20px;
    font-weight: normal;
}

header button {
    font-family: 'Saira', sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 32px;
    padding: 0 20px;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    border: 2px solid white;
}

@media (orientation: portrait) and (min-width: 410px) {
    header h1 {
        font-size: 28px;
    }

    header h2 {
        font-size: 24px;
    }

    header div.witaj {
        font-size: 50px;
        top: 6%;
    }


    header button {
        font-size: 16px;
        line-height: 40px;
    }
}

@media (orientation: landscape) {
    header img {
        height: 80%;
        bottom: 0;
        right: -5%;
    }

    header div.witaj {
        top: 15%;
        left: 7%;
        right: 54%;
    }

    header button {
        margin-top: 10px;
    }

}

@media (orientation: landscape) and (min-width: 640px) {
    header img {
        height: 80%;
        bottom: 0;
        right: -5%;
    }

    header h1 {
        font-size: 34px;
    }

    header h2 {
        font-size: 28px;
    }

    header div.witaj {
        font-size: 50px;
        top: 20%;
    }


    header button {
        font-size: 16px;
        line-height: 40px;
    }

}

section {
    min-height: 100vh;
}