#Dokumentacja
/Docs
#Readme.md
*.md
#node_modules bo mozna se samemu wygeneroać przez npm install
/node_modules
# workspace niestety nie działa na innych kompach (inne katalogi)
 wizytowka.code-workspace
